/*Visibility*/
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
/*Opacity*/
.op_1 {
  opacity: 0;
}
.op_2 {
  opacity: 0.5;
}
.op_3 {
  opacity: 1;
}
/*Display*/
.none {
  display: none;
  font-weight: bold;
}
.inline {
  display: inline;
  font-weight: bold;
}
.block {
  display: block;
  font-weight: bold;
}
h3 {
  text-align: center;
  background-color: rgb(210, 82, 116);
  color: white;
}
body {
  background-color: #fff0b8;
}
h1:hover {
  color: rgb(154, 64, 238);
  font-weight: bold;
}
h1::before {
  color: rgb(38, 158, 194);
  font-weight: bold;
  content: "Hello ";
}
h1::after {
  color: rgb(38, 158, 194);
  font-weight: bold;
  content: " Bye!";
}
h1::selection {
  background-color: rgb(115, 221, 115);
  color: white;
}

* {
  padding: 0;
  margin: 0;
}

.nav {
  height: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.banner {
  height: 200px;
}
.content {
  height: 400px;
}
.footer {
  height: 20px;
  height: 100px;
}
img#peppa-pig {
  width: 100%;
  filter: grayscale(100%) invert(100%);
}
/*Animation*/
@keyframes vanessa-animation {
    from{
        filter:grayscale(0%);
    }
    to{
        filter:grayscale(100%);
    }
}

img#animation {
    animation: vanessa-animation 3s forwards;
    width:400px;
    height:600px;
}

img {
  width:20%;
  transition: width 1s, height 1s;
}

img#interactions_1:hover {
  width:60%;
  height:40%;
}
img#interactions_2:active {
  height:50%;
  filter: brightness(120%);
}

